[Desktop Entry]
Type=Application
Name=Pipewire
TryExec=/usr/bin/pipewire-auto
Exec=/usr/bin/pipewire-auto
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
